.intro-section {
    margin-top: 30px;
}

.intro-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-left: 20px;
    // padding-right: 20px;
}

.main-photo {
    display: inline-block;
    width: 800px;
    height: 425px;
    margin-right: 60px;
    // margin-left: 20px;
    padding-top: 60px;
    padding-bottom: 40px;

    background-image: url(/images/my-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.intro-text-container {
    display: inline-block;
}

.intro-head {
    margin-bottom: 40px;

    font-family: inherit;
    font-weight: 400;
    font-size: 45px;
}

.intro-head-name {
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
}

.intro-text {
    margin-bottom: 20px;

    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
}