body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0a100d;
    // background-color: #b9baa3;
    background: linear-gradient(#ccc5b9, #403d39);
}

.list, p {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    text-decoration: none;
}

.button {
    border-width: 0;

    cursor: pointer;
}

h1, h2 {
    margin: 0;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}